

## Build results
WindowsFormsApp10/WindowsFormsApp10/bin/
WindowsFormsApp10/WindowsFormsApp10/obj/


WindowsFormsApp10/WindowsFormsApp10/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApp10/WindowsFormsApp10/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
WindowsFormsApp10/WindowsFormsApp10/obj/Debug/WindowsFormsApp10.csproj.FileListAbsolute.txt
WindowsFormsApp10/WindowsFormsApp10/obj/Debug/WindowsFormsApp10.csproj.GenerateResource.cache
WindowsFormsApp10/WindowsFormsApp10/obj/Debug/WindowsFormsApp10.exe
WindowsFormsApp10/WindowsFormsApp10/obj/Debug/WindowsFormsApp10.Form1.resources
WindowsFormsApp10/WindowsFormsApp10/obj/Debug/WindowsFormsApp10.pdb
WindowsFormsApp10/WindowsFormsApp10/obj/Debug/WindowsFormsApp10.Properties.Resources.resources
